<div class="signin-container" [style.backgroundImage]="'url('+ banner?.banner?.image +')'">
  <div class="elements-wrapper">

    <mat-card class="signin-card signin-card-forgot authorize-card-background">
      <h1>Create new password</h1>
      <p class="intro-text mb-2">
        Create your password here.
      </p>

      <div class="form-content" *ngIf="resetForm">
        <form [formGroup]="resetForm" (submit)="onSubmit()">
          <div class="row">
            <div class="col-12 pt-1">
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput
                       type="password"
                       placeholder="Password"
                       #password
                       formControlName="newPassword" />
                <mat-error *ngIf="getControl('newPassword')?.errors?.required">Required</mat-error>
                <mat-error *ngIf="getControl('newPassword')?.errors?.minlength">Invalid password length</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 pt-1">
              <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput
                       type="password"
                       placeholder="Retype password"
                       #cPassword
                       formControlName="confirmPassword" />
                <mat-error *ngIf="getControl('confirmPassword').hasError('required')">Required</mat-error>
                <mat-error *ngIf="getControl('confirmPassword').hasError('mustMatch')">Password and confirm password should be the same</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="button-wrapper pt-2">
            <button type="submit" class="social-login-btn no-width button-background button-text-color">Submit</button>

            <!--<button class="social-login-btn no-width button-background button-text-color" (click)="gotoLogin()">Login</button>-->
          </div>
        </form>
      </div>

    </mat-card>
  </div>
</div>
