<div class="signin-container" [style.backgroundImage]="'url('+ banner?.banner?.image +')'">
  <div class="elements-wrapper">

    <mat-card class="signin-card signin-card-forgot authorize-card-background" *ngIf="forgotForm">
      <h1>{{getHeading()}}</h1>
      <p class="intro-text mb-2">
        {{getDescription()}} <span class="cursor-pointer link-color"
        (click)="gotoLogin()" tabindex="0"> Sign In</span>
      </p>

      <div class="form-content">
        <form [formGroup]="forgotForm" (submit)="onSubmit()">
          <div class="row">
            <div class="col-12 pt-1">
              <mat-form-field appearance="fill">
                <mat-label>Email address</mat-label>
                <input matInput
                       type="email"
                       placeholder="Email"
                       #email
                       formControlName="email" />
                <mat-error *ngIf="getControl('email')?.errors?.required">Required</mat-error>
                <mat-error *ngIf="getControl('email')?.errors?.email">Invalid email</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="button-wrapper pt-2">
            <button type="submit" class="social-login-btn no-width button-background button-text-color">Submit Request</button>
            
          </div>
        </form>
      </div>

    </mat-card>
  </div>
</div>
