.speaker-holder{
  img{
    width: 250px;
    height: 250px;
    max-width: 250px;
    // box-shadow: 0 6px 20px #d8d6d6;
    // border: 2px dashed #00c6ff;
  }
  .name{
    font-size: 23px;
  }
  .company{
    font-size: 18px;
  }
  .edit-speaker-btn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #3f3f3f;
    cursor: pointer;
    span{
      line-height: 35px;
    }
  }
}


