//$color1: rgb(0,0,0);
$color2:#0078d7;
$color3:rgb(255,255,255);
$color4:#9000ff;
$color5:#011d46;
$color6: #0c1323;
$color7:#003C6C;
$color8:rgba(0,198,255,1);
$wrapperWidth:50%;
$containerWidth:100%;
$fsize-xd: 60px;
$fsize-xl: 50px;
$fsize-xxl: 45px;
$fsize-lg: 40px;
$fsize-xlg: 35px;
$fsize-lg: 30px;
$fsize-sm: 25px;
$fsize-xsm: 20px;
$fsize-xs: 18px;
$fsize-xxs: 16px;
$font-bold: bold;
$font-normal: normal;

$primary:blue;
