@font-face {
    font-family: "Decimal-Semibold-Pro";
    src: url("assets/fonts/decimal/Decimal-Semibold-Pro.eot");
    src: local("☺"),
      url("assets/fonts/decimal/Decimal-Semibold-Pro.woff") format("woff"),
      url("assets/fonts/decimal/Decimal-Semibold-Pro.ttf") format("truetype"),
      url("assets/fonts/decimal/Decimal-Semibold-Pro.svg") format("svg");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Decimal-Semibold-Pro";
    src: url("assets/fonts/decimal/Decimal-Semibold-Pro.eot");
    src: local("☺"),
      url("assets/fonts/decimal/Decimal-Semibold-Pro.woff") format("woff"),
      url("assets/fonts/decimal/Decimal-Semibold-Pro.ttf") format("truetype"),
      url("assets/fonts/decimal/Decimal-Semibold-Pro.svg") format("svg");
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: "Decimal-Bold-Pro";
    src: url("assets/fonts/decimal/Decimal-Bold-Pro.eot");
    src: local("☺"),
      url("assets/fonts/decimal/Decimal-Bold-Pro.woff") format("woff"),
      url("assets/fonts/decimal/Decimal-Bold-Pro.ttf") format("truetype"),
      url("assets/fonts/decimal/Decimal-Bold-Pro.svg") format("svg");
    font-weight: 700;
    font-style: normal;
  }


