@font-face {
    font-family: "Merriweather-Regular";
    src: url("assets/fonts/merriweather/Merriweather-Regular.eot");
    src: url("assets/fonts/merriweather/Merriweather-Regular.woff") format("woff"),
    url("assets/fonts/merriweather/Merriweather-Regular.ttf") format("truetype"),
    url("assets/fonts/merriweather/Merriweather-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
