@font-face {
  font-family: "Montserrat-Bold";
  src: url("assets/fonts/montserrat/Montserrat-Bold.eot");
  src: local("☺"),
    url("assets/fonts/montserrat/Montserrat-Bold.woff") format("woff"),
    url("assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype"),
    url("assets/fonts/montserrat/Montserrat-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
