@font-face {
    font-family: "Proxima Nova";
    src: url("assets/fonts/ProximaNova/ProximaNovaRegular.eot");
    src: url("assets/fonts/ProximaNova/ProximaNovaRegular.woff") format("woff"),
    url("assets/fonts/ProximaNova/ProximaNovaRegular.ttf") format("truetype"),
    url("assets/fonts/ProximaNova/ProximaNovaRegular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("assets/fonts/ProximaNova/ProximaNovaRegularit.eot");
    src: url("assets/fonts/ProximaNova/ProximaNovaRegularit.woff") format("woff"),
    url("assets/fonts/ProximaNova/ProximaNovaRegularit.ttf") format("truetype"),
    url("assets/fonts/ProximaNova/ProximaNovaRegularit.svg") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("assets/fonts/ProximaNova/ProximaNovaLightit.eot");
    src: url("assets/fonts/ProximaNova/ProximaNovaLightit.woff") format("woff"),
    url("assets/fonts/ProximaNova/ProximaNovaLightit.ttf") format("truetype"),
    url("assets/fonts/ProximaNova/ProximaNovaLightit.svg") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("assets/fonts/ProximaNova/ProximaNovaLight.eot");
    src: url("assets/fonts/ProximaNova/ProximaNovaLight.woff") format("woff"),
    url("assets/fonts/ProximaNova/ProximaNovaLight.ttf") format("truetype"),
    url("assets/fonts/ProximaNova/ProximaNovaLight.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("assets/fonts/ProximaNova/ProximaNovaBold.eot");
    src: url("assets/fonts/ProximaNova/ProximaNovaBold.woff") format("woff"),
    url("assets/fonts/ProximaNova/ProximaNovaBold.ttf") format("truetype"),
    url("assets/fonts/ProximaNova/ProximaNovaBold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("assets/fonts/ProximaNova/ProximaNovaBoldit.eot");
    src: url("assets/fonts/ProximaNova/ProximaNovaBoldit.woff") format("woff"),
    url("assets/fonts/ProximaNova/ProximaNovaBoldit.ttf") format("truetype"),
    url("assets/fonts/ProximaNova/ProximaNovaBoldit.svg") format("svg");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova Condensed";
    src: url("assets/fonts/ProximaNova/ProximaNovaCondensedBlack.eot");
    src: url("assets/fonts/ProximaNova/ProximaNovaCondensedBlack.woff") format("woff"),
    url("assets/fonts/ProximaNova/ProximaNovaCondensedBlack.ttf") format("truetype"),
    url("assets/fonts/ProximaNova/ProximaNovaCondensedBlack.svg") format("svg");
    font-weight: 900;
    font-style: normal;
}