<div class="section">
  <div class="container-fluid py-3 header-background">
    <div class="row">
      <div class="col-12">
        <h1 style="display: none;" >JOIN IN</h1>
        <h2 style="display: none;" >JOIN IN</h2>
        <h3 style="display: none;" >JOIN IN</h3>
        <h4 style="display: none;" >JOIN IN</h4>
        <h5 class="fs-h5 header-text-color font-weight-bold" style="margin: 0 15px;">JOIN IN</h5>
      </div>
    </div>
  </div>
  <div class="container" id="joinUsRelease">
    <div class="row">
      <div class="col-md-4 col-12 text-center">
        <div class="icon-block">
          <div class="pic">
            <img src="https://s27platformmedia.azureedge.net/digitalevents/CW2020/GW_CW2020_Icon_Auction.png" class="responsive-img" alt="Connect Auction" title="Join Us">
          </div>

          <h5 class="center" style="color: #0487CD !important;">THURSTON<br>ROOM PLATES<br>SILENT AUCTION</h5>

          <a href="http://bidpal.net/gwcw20" target="_blank" class="btn button-background button-text-color">Visit the Silent Auction</a>
        </div>
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="icon-block">
          <div class="pic">
            <img src="https://s27platformmedia.azureedge.net/digitalevents/CW2020/GW_CW2020_Icon_Networking.png" class="responsive-img" alt="Connect Networking" title="Join Us">
          </div>

          <h5 class="center" style="color: #008363 !important;">NETWORK<br>WITH OTHER<br>ATTENDEES</h5>

          <a href="colonialsweekend/networkinglounge" class="btn button-background button-text-color">Explore Networking</a>
        </div>
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="icon-block">
          <div class="pic">
            <img src="https://s27platformmedia.azureedge.net/digitalevents/CW2020/GW_CW2020_Icon_Personalize.png" class="responsive-img" alt="Connect Personalize" title="Join Us">
          </div>

          <h5 class="center" style="color: #0073AA !important;">PERSONALIZE<br>YOUR<br>PROFILE</h5>

          <span class="btn button-background button-text-color" (click)="openProfile()">Personalize</span>
        </div>
      </div>
    </div>
  </div> 
</div>
